@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem; /* jika ada navbar tetap */
  }
}

body {
  @apply bg-gradient-to-b from-[#0d0d1a] to-black text-white font-sans;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFProFonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFProFonts/SF-Pro-Display-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFProFonts/SF-Pro-Display-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}


@keyframes shooting {
  0% {
    transform: translate(0, 0) rotate(135deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-800px, 800px) rotate(135deg) scale(0.5);
    opacity: 0;
  }
}

.shooting-star {
  position: absolute;
  width: 100px;
  height: 2px;
  background: linear-gradient(-135deg, white, transparent);
  animation: shooting 3s linear infinite;
  opacity: 0.6;
  transform: rotate(135deg);
  transform-origin: left center;
  z-index: 0;
}

.atropos-scene,
.atropos-rotate,
.atropos-scale,
.atropos-inner {
  background: transparent !important;
}